<div class="mat-typography">
  <mat-toolbar class="top-bar" color="primary">
    <span>{{ title }}</span>
    <mat-chip *ngIf="results.length > 0">{{results.length}}</mat-chip>
    <!-- <mat-slide-toggle
        [disabled]="results.length == 0"
        [color]="'accent'"
        (change)="toggleSlider($event)">
      Expand All
    </mat-slide-toggle> -->
  </mat-toolbar>
  
  <h3 class="subtitle" *ngIf="showIntro">Ok, ok, we just support the King James Version for now... Maybe that will change someday...</h3>
</div>

<form class="form-wrapper">
  <mat-form-field>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let searchChip of searchChips" [selectable]="selectable"
              [removable]="'true'" (remove)="remove(searchChip)">
        {{searchChip.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input matChipInput placeholder="Start Typing" 
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="'true'"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
  <button mat-icon-button color="accent" (click)="clearChips()">
    <mat-icon aria-label="Clear Chips">close</mat-icon>
  </button>
</form>

<mat-divider></mat-divider>

<div class="results mat-typography" *ngIf="results.length > 0">
  <virtual-scroll [items]="results" [childHeight]="virtualHeight" (update)="viewPortItems = $event" (change)="indices = $event">
    <mat-accordion [multi]="'true'">
      <mat-expansion-panel *ngFor="let refVerse of viewPortItems" [expanded]="refVerse.expanded">
        <mat-expansion-panel-header>
          <mat-panel-title [innerHTML]="refVerse.book + '&nbsp;' + refVerse.reference">
          </mat-panel-title>
          <mat-panel-description [innerHTML]="refVerse.verseSummary">
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p [innerHTML]="refVerse.verse"></p>
      </mat-expansion-panel>
    </mat-accordion>
  </virtual-scroll>
  <!-- <mat-list>
    <mat-list-item *ngFor="let refVerse of results">
      <h4 mat-line>{{refVerse.book}} - {{refVerse.reference}}</h4>
      <p mat-line>{{refVerse.verse}}</p>
    </mat-list-item>
  </mat-list> -->
</div>

<div class="no-results mat-typography" *ngIf="results.length == 0">
  <h3>Use enter, comma, or tab to search more terms</h3>
</div>

<!-- Don't need this for now -->
<router-outlet></router-outlet>
