.mat-toolbar.mat-primary {
    color: #fff;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.subtitle, .no-results {
    padding: 15px 15px 0 15px;
    margin: 0;
}

.form-wrapper {
    margin-bottom: 20px;
    .mat-form-field {
        display: block;
        margin: 15px;
    }
}

#{"/deep/"} .mat-snack-bar-handset .mat-snack-bar-container {
    width: 130px !important;
    min-width: 130px !important;
    max-width: 130px !important;
    float: right !important;
    .mat-simple-snackbar {
        display: block;
        text-align: center;
    }
}

.mat-expansion-panel-header-description {
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: normal;
    width: calc(100% - 185px);
    white-space: nowrap;
}

#{"/deep/"} .highlight {
    background-color: yellow;
}

virtual-scroll {
    height: calc(100vh - 172px);
    @media all and (min-width: 600px) {
        height: calc(100vh - 180px);
    }
}